#container{
	width:auto;
	border:1px solid grey;
	height:1000px;

	background: linear-gradient(#ff6666,#ffcc66);
}
h1 a{
	font-family: sans-serif;
	color: black;
	font-weight: 30;
	text-decoration: none;
	font-size: 50px;
    margin-top: 30px;	
}
#brand{
	float:left;
	margin-left: 50px;
}
#search{
	float: right;
	background: linear-gradient(#ffcc66,#ff6666);
	width:300px;
    height:50px;
    padding-top: 30px;
    padding-left:40px;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.submit{
    background-color: #00b377;
    border: none;
    border-radius: 5px;
    color: white;
    height: 25px;
}
.search{
	border-radius: 2px;
	border: none; 
    height: 22px;
}
ul{
	list-style: none;
	text-decoration: none;

}
#menu ul li{
	float: left;
	border-right: 1px solid black;
    padding: 0px 10px;
    font-family: sans-serif;
    font-size: 30px; 	
    margin-top: 40px;


}
#menu ul li a{
	text-decoration: none;
	
}
#menu{
	width:1300px;

}
#description{
	margin-top: 300px;
	margin-left: 50px;
	margin-right: 40px;
	font-size: 25px;
}
#video1{
	margin-left: 50px;
	float: left;
	width:700px;
}
#video2{
	margin-left: 600px;

}
#image{
   width:500px;
   height: 500px;
   margin-left: 200px;
}